Repository fwcd/kotlin-language-server, pull requests merged in 2021-02, with the labels that each got.

#264 Fixed to find dependencies correctly when applied to android library
  server/src/main/resources/projectClassPathFinder.gradle
Labels: dependency resolution, gradle

#267 Emit progress notifications
  server/src/main/kotlin/org/javacs/kt/KotlinLanguageServer.kt
  server/src/test/kotlin/org/javacs/kt/LanguageServerTestFixture.kt
Labels: enhancement

#268 Index global descriptors and provide completions for unimported symbols
  gradle.properties
  server/build.gradle
  server/src/main/dist/licenseReport.html
  server/src/main/kotlin/org/javacs/kt/Configuration.kt
  server/src/main/kotlin/org/javacs/kt/KotlinLanguageServer.kt
  server/src/main/kotlin/org/javacs/kt/KotlinTextDocumentService.kt
  server/src/main/kotlin/org/javacs/kt/KotlinWorkspaceService.kt
  server/src/main/kotlin/org/javacs/kt/SourcePath.kt
  server/src/main/kotlin/org/javacs/kt/completion/Completions.kt
  server/src/main/kotlin/org/javacs/kt/index/ExtractSymbolExtensionReceiverType.kt
  server/src/main/kotlin/org/javacs/kt/index/ExtractSymbolKind.kt
  server/src/main/kotlin/org/javacs/kt/index/ExtractSymbolVisibility.kt
  server/src/main/kotlin/org/javacs/kt/index/Symbol.kt
  server/src/main/kotlin/org/javacs/kt/index/SymbolIndex.kt
  server/src/main/kotlin/org/javacs/kt/progress/LanguageClientProgress.kt
  server/src/main/kotlin/org/javacs/kt/progress/Progress.kt
  server/src/main/resources/kotlinDSLClassPathFinder.gradle
  server/src/test/kotlin/org/javacs/kt/LanguageServerTestFixture.kt
Labels: code completion, enhancement
