Repository fwcd/kotlin-language-server, pull requests merged in 2022-04, with the labels that each got.

#343 "Add missing import" quick fix Code Action
  server/src/main/kotlin/org/javacs/kt/KotlinTextDocumentService.kt
  server/src/main/kotlin/org/javacs/kt/codeaction/CodeAction.kt
  server/src/main/kotlin/org/javacs/kt/codeaction/quickfix/AddMissingImportsQuickFix.kt
  server/src/main/kotlin/org/javacs/kt/codeaction/quickfix/ImplementAbstractFunctionsQuickFix.kt
  server/src/main/kotlin/org/javacs/kt/codeaction/quickfix/QuickFix.kt
  server/src/main/kotlin/org/javacs/kt/completion/Completions.kt
  server/src/main/kotlin/org/javacs/kt/imports/Imports.kt
  server/src/main/kotlin/org/javacs/kt/index/SymbolIndex.kt
Labels: enhancement

#339 Support definitions on JDK symbols
  server/src/main/kotlin/org/javacs/kt/CompiledFile.kt
  server/src/main/kotlin/org/javacs/kt/CompilerClassPath.kt
  server/src/main/kotlin/org/javacs/kt/KotlinLanguageServer.kt
  server/src/main/kotlin/org/javacs/kt/KotlinProtocolExtensionService.kt
  server/src/main/kotlin/org/javacs/kt/KotlinTextDocumentService.kt
  server/src/main/kotlin/org/javacs/kt/SourcePath.kt
  server/src/main/kotlin/org/javacs/kt/URIContentProvider.kt
  server/src/main/kotlin/org/javacs/kt/compiler/Compiler.kt
  server/src/main/kotlin/org/javacs/kt/completion/Completions.kt
  server/src/main/kotlin/org/javacs/kt/definition/GoToDefinition.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/ClassContentProvider.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/ClassPathSourceArchiveProvider.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/ClassPathSourceJarProvider.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/Decompiler.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/JdkSourceArchiveProvider.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/KlsURI.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/SourceArchiveProvider.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/SourceJarProvider.kt
  server/src/main/kotlin/org/javacs/kt/hover/Hovers.kt
Labels: enhancement

#351 Optimize CI a bit
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: enhancement, ci-cd

#334 Setup JDT LS extension to provide Java + Kotlin interoperability
  server/src/main/kotlin/org/javacs/kt/CompilerClassPath.kt
  server/src/main/kotlin/org/javacs/kt/KotlinLanguageServer.kt
  server/src/main/kotlin/org/javacs/kt/KotlinProtocolExtensionService.kt
  server/src/main/kotlin/org/javacs/kt/KotlinProtocolExtensions.kt
  server/src/main/kotlin/org/javacs/kt/KotlinTextDocumentService.kt
  server/src/main/kotlin/org/javacs/kt/Main.kt
  server/src/main/kotlin/org/javacs/kt/SourcePath.kt
  server/src/main/kotlin/org/javacs/kt/compiler/Compiler.kt
  server/src/test/kotlin/org/javacs/kt/CompiledFileTest.kt
  server/src/test/kotlin/org/javacs/kt/CompilerTest.kt
Labels: enhancement, maven, java interop
