Repository fwcd/kotlin-language-server, pull requests merged in 2023-10, with the labels that each got.

#501 Move platform to subproject
  platform/build.gradle.kts
  server/build.gradle.kts
  settings.gradle.kts
  shared/build.gradle.kts
Labels: gradle

#493 chore: Bump Gradle to 8.3 and Kotlin to 1.9.10
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  platform/build.gradle.kts
  server/src/main/kotlin/org/javacs/kt/compiler/Compiler.kt
  server/src/test/resources/additionalWorkspace/gradle.properties
  server/src/test/resources/additionalWorkspace/gradle/wrapper/gradle-wrapper.jar
  server/src/test/resources/additionalWorkspace/gradle/wrapper/gradle-wrapper.properties
  server/src/test/resources/additionalWorkspace/gradlew
Labels: gradle

#504 Add Database versioning
  shared/src/main/kotlin/org/javacs/kt/database/DatabaseService.kt
Labels: enhancement

#512 Support functional interfaces in Kotlin Textmate grammar
  grammars/Kotlin.tmLanguage.json
Labels: grammar

#516 Remove the TextMate grammar from this repo
  .github/workflows/deploy.yml
  .vscode/launch.json
  BUILDING.md
  grammars/Kotlin.tmLanguage.json
  grammars/README.md
  grammars/build.gradle.kts
  grammars/codeblock.json
  grammars/kotlin.configuration.json
  grammars/vscode-grammar-dev/.vscodeignore
  grammars/vscode-grammar-dev/README.md
  grammars/vscode-grammar-dev/package.json
  settings.gradle.kts
Labels: grammar

#519 build: update to use gradle 8.4
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: gradle

#498 Support for inlay hints
  server/src/main/kotlin/org/javacs/kt/Configuration.kt
  server/src/main/kotlin/org/javacs/kt/KotlinLanguageServer.kt
  server/src/main/kotlin/org/javacs/kt/KotlinTextDocumentService.kt
  server/src/main/kotlin/org/javacs/kt/KotlinWorkspaceService.kt
  server/src/main/kotlin/org/javacs/kt/inlayhints/InlayHint.kt
  server/src/test/kotlin/org/javacs/kt/InlayHintTest.kt
  server/src/test/kotlin/org/javacs/kt/LanguageServerTestFixture.kt
  server/src/test/resources/inlayhints/ChainedMethods.kt
  server/src/test/resources/inlayhints/Declarations.kt
  server/src/test/resources/inlayhints/Parameters.kt
Labels: enhancement, lsp

#518 Fix maven repository discovery
  shared/src/main/kotlin/org/javacs/kt/classpath/Home.kt
Labels: maven

#522 Add PR auto-labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement, ci-cd

#523 Bump `actions/checkout` to v4
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
Labels: ci-cd
