Repository fwcd/kotlin-language-server, pull requests merged in 2023-04, with the labels that each got.

#442 Create a DB index on Symbols table to make searching the SymbolIndex (H2) slightly less memory intensive
  server/src/main/kotlin/org/javacs/kt/index/SymbolIndex.kt
Labels: index

#458 Update to Gradle 8 and migrate to convention plugins
  .github/workflows/build.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/kotlin-language-server.kotlin-conventions.gradle.kts
  buildSrc/src/main/kotlin/kotlin-language-server.publishing-conventions.gradle.kts
  detekt.yml
  gradle.properties
  gradle/plugins/kotlin-plugins/build.gradle.kts
  gradle/plugins/settings.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  scripts/release_version.py
  server/build.gradle.kts
  server/src/test/resources/additionalWorkspace/gradle.properties
  server/src/test/resources/kotlinDSLWorkspace/build.gradle.kts
  server/src/test/resources/kotlinDSLWorkspace/gradle.properties
  settings.gradle.kts
  shared/build.gradle.kts
Labels: gradle

#455 Only backtick hard keywords in imports
  server/src/main/kotlin/org/javacs/kt/imports/Imports.kt
  server/src/test/kotlin/org/javacs/kt/ImportsTest.kt
Labels: enhancement

#459 Migrate the project and the additional test workspace to Gradle 8.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  server/build.gradle.kts
  server/src/test/resources/additionalWorkspace/gradle/wrapper/gradle-wrapper.jar
  server/src/test/resources/additionalWorkspace/gradle/wrapper/gradle-wrapper.properties
  server/src/test/resources/additionalWorkspace/gradlew
  server/src/test/resources/additionalWorkspace/gradlew.bat
  shared/src/main/kotlin/org/javacs/kt/util/StringUtils.kt
Labels: gradle
