Repository fwcd/kotlin-language-server, pull requests merged in 2023-02, with the labels that each got.

#427 Highlight value keyword for value class
  grammars/Kotlin.tmLanguage.json
Labels: grammar

#426 Set javaVersion property in pipeline/workflow to avoid warnings on Java 17
  .github/workflows/build.yml
Labels: gradle, ci-cd

#431 Run build pipeline on both Windows, Ubuntu and Mac OS X
  .github/workflows/build.yml
  server/src/main/kotlin/org/javacs/kt/resolve/ResolveMain.kt
Labels: ci-cd
