Repository fwcd/kotlin-language-server, pull requests merged in 2024-01, with the labels that each got.

#535 Update PR labeler to v5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci-cd

#534 Make diagnostic level configurable and add option to disable diagnostics
  detekt.yml
  server/src/main/kotlin/org/javacs/kt/Configuration.kt
  server/src/main/kotlin/org/javacs/kt/KotlinTextDocumentService.kt
  server/src/main/kotlin/org/javacs/kt/KotlinWorkspaceService.kt
  server/src/test/kotlin/org/javacs/kt/DiagnosticTest.kt
  server/src/test/kotlin/org/javacs/kt/HoverTest.kt
  server/src/test/kotlin/org/javacs/kt/LanguageServerTestFixture.kt
  server/src/test/resources/diagnostic/Diagnostics.kt
  server/src/test/resources/lint/LintErrors.kt
Labels: diagnostics, code quality

#537 Update Gradle to 8.5 and Kotlin to 1.9.20
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  platform/build.gradle.kts
  server/src/test/kotlin/org/javacs/kt/CompilerTest.kt
  server/src/test/resources/additionalWorkspace/gradle.properties
  server/src/test/resources/additionalWorkspace/gradle/wrapper/gradle-wrapper.jar
  server/src/test/resources/additionalWorkspace/gradle/wrapper/gradle-wrapper.properties
  server/src/test/resources/additionalWorkspace/gradlew
Labels: code quality, build

#539 Define standard exclusion paths in Detekt configuration
  detekt.yml
Labels: code quality

#540 Rename config object to `inlayHints` for consistency
  server/src/main/kotlin/org/javacs/kt/Configuration.kt
  server/src/main/kotlin/org/javacs/kt/KotlinTextDocumentService.kt
  server/src/main/kotlin/org/javacs/kt/KotlinWorkspaceService.kt
  server/src/test/kotlin/org/javacs/kt/LanguageServerTestFixture.kt
Labels: code quality

#543 Model script exclusion via `SourceExclusions` and skip files entirely instead of placing them temporarily on the source path
  server/src/main/kotlin/org/javacs/kt/CompilerClassPath.kt
  server/src/main/kotlin/org/javacs/kt/Configuration.kt
  server/src/main/kotlin/org/javacs/kt/KotlinTextDocumentService.kt
  server/src/main/kotlin/org/javacs/kt/SourceFiles.kt
  server/src/test/kotlin/org/javacs/kt/ScriptTest.kt
  shared/src/main/kotlin/org/javacs/kt/ScriptsConfiguration.kt
  shared/src/main/kotlin/org/javacs/kt/SourceExclusions.kt
Labels: code quality

#548 Remove semantic tokens for string literals (templates)
  server/src/main/kotlin/org/javacs/kt/semantictokens/SemanticTokens.kt
  server/src/test/kotlin/org/javacs/kt/SemanticTokensTest.kt
  server/src/test/resources/semantictokens/SemanticTokens.kt
Labels: code quality, semantic tokens

#532 increase the max length of varchar column of ClassPathCacheEntry table
  shared/src/main/kotlin/org/javacs/kt/classpath/CachedClassPathResolver.kt
  shared/src/main/kotlin/org/javacs/kt/database/DatabaseService.kt
Labels: dependency resolution

#547 Fix negative active signature/parameter
  server/src/main/kotlin/org/javacs/kt/signaturehelp/SignatureHelp.kt
Labels: code quality

#538 Add Java 21 CI
  .github/workflows/build.yml
  server/src/test/kotlin/org/javacs/kt/OverrideMemberTest.kt
Labels: ci-cd, code quality
