Repository fwcd/kotlin-language-server, pull requests merged in 2025-01, with the labels that each got.

#608 Add helix to editor configuration
  EDITORS.md
Labels: editor support

#605 use catalog to manager dependencies and bump to the newest kotlin
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  platform/build.gradle.kts
  server/build.gradle.kts
  server/src/main/kotlin/org/javacs/kt/compiler/Compiler.kt
  settings.gradle.kts
  shared/build.gradle.kts
Labels: build

#611 Bump Gradle to 8.12
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  server/build.gradle.kts
Labels: build

#612 Return null context if expression fails to compile
  server/src/main/kotlin/org/javacs/kt/CompiledFile.kt
  server/src/main/kotlin/org/javacs/kt/compiler/Compiler.kt
  server/src/main/kotlin/org/javacs/kt/hover/Hovers.kt
  server/src/test/kotlin/org/javacs/kt/CompilerTest.kt
Labels: code quality

#615 chore: update gradle ci
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: ci-cd

#628 refactor: use JetBrains release repository for FernFlower decompiler
  gradle/libs.versions.toml
  platform/build.gradle.kts
  server/build.gradle.kts
  server/lib/fernflower-license.txt
  server/lib/gradle-kotlin-dsl-tooling-models-0.11.0-license.txt
  server/lib/org/jetbrains/fernflower/1.0/fernflower-1.0.jar
  server/lib/org/jetbrains/fernflower/1.0/fernflower-1.0.pom
  server/src/main/kotlin/org/javacs/kt/externalsources/ClassContentProvider.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/FernFlowerDecompiler.kt
  server/src/main/kotlin/org/javacs/kt/externalsources/FernflowerDecompiler.kt
Labels: build
